#!/usr/bin/make -f

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

DEB_INSTALL_DOCS_ALL=

clean::
	rm -f $(CURDIR)/virt-what.1

binary-install/virt-what::
	mv $(CURDIR)/debian/virt-what/usr/bin/virt-what-cpuid-helper $(CURDIR)/debian/virt-what/usr/lib/virt-what
